.App {
  text-align: center;
}

html {
  background-color: dimgray;
  color: white;
}
button {
cursor: pointer;
}
.profile-font{
  color:rgb(27, 73, 73);
}
/* Nav Bar */
nav {
  display: flex;
  background-color: rgb(35, 44, 44);
  font-weight: 700;
  padding: 0 10px;
  position: sticky;
  top: 0;
}
.nav-link {
  padding: 20px;
}

.nav-link:hover {
  background-color: rgb(27, 73, 73);
  cursor: pointer;
}

.nav-title {
  font-size: 30px;
  font-weight: 800;
  padding: 10px 20px;
}

.right-align {
  margin-left: auto;
}

/* Center */
.register, .login, .home, .edit-post, .post, .create-post {
  width: 40%;
  margin: auto;
  padding: 20px 0;
}

/* Form Backgrounds */
.register-form, .login-form, .home-form , .edit-post-form {
  display:grid;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
  align-items: center;
  justify-content: center;
  background-color: rgb(42, 96, 96);
  padding: 10px;
}

.create-post-form {
  background-color: rgb(42, 96, 96);
  padding: 10px;
  border-radius: 0 0 15px 15px;
}

.create-post-form label {
  padding: 0 0 0 10px;
}

.create-post-form textarea {
  margin: 10px;
  padding: 5px;
  width: 550px;
  max-width: 550px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 100px;
}

/* Form Titles */
.register-title, .login-title, .home-title, .edit-post-title {
  background-color: darkslategray;
  font-size: 40px;
  font-weight: 700;
  padding: 10px;
}

/* Links and Buttons */
a, button {
  all: unset;
  cursor: pointer;
}

/* Create/Add Button */
.create-post-button, .register-button, .login-button, .home-button, .edit-post-button {
  background-color: darkslategray;
  padding: 10px;
}

.create-post-button:hover, .register-button:hover, .login-button:hover, .home-button:hover, .edit-post-button:hover {
  background-color: #74c365;
  border-top: 2px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gainsboro;
  border-left: 2px solid gainsboro;
  padding: 10px;
}

.delete-button {
  background-color: darkred;
  font-weight: 900;
  width: 40px;
  height: 40px;
  font-size: 30px;
}

.delete-button:hover {
  background-color: rgb(217, 45, 45);
  font-weight: 900;
  width: 40px;
  height: 40px;
  font-size: 30px;
}

.edit-button {
  background-color: darkorange;
  font-weight: 900;
  width: 40px;
  height: 40px;
  font-size: 30px;
}

.edit-button:hover {
  background-color: rgb(250, 170, 72);
  font-weight: 900;
  width: 40px;
  height: 40px;
  font-size: 30px;
}

/* Post */
.post, .create-post {
  width: 600px;
  background-color: rgb(42, 96, 96);
  padding: 0;
  margin-top: 15px;
  border-radius: 15px;
}
.post-image {
  max-width: 400px;
  padding: 0 0 10px;
}

.post-title-bar, .create-post-title {
  display: flex;
  background-color: darkslategray;
  border-radius: 15px 15px 0 0 ;
}

.post-button-div {
  border-top: 5px solid rgb(53, 87, 87);
}

.post-title, .create-post-title {
  font-size: 25px;
  font-weight: 600;
  padding: 10px 15px;
  text-align: left;
}

.post-body {
  padding: 10px;
  text-align: left;
}

/* Comment Section in Post */
.comments-title {
  background-color: rgb(53, 87, 87);
  text-align: left;
  padding: 10px;
}

.comment-form {
  text-align: left;
}

.comment-form textarea {
  margin: 10px;
  padding: 5px;
  width: 567px;
  max-width: 567px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.post-comment-button {
  background-color: darkslategray;
  padding: 10px;
  margin: 10px;
}

.post-comment-button:hover {
  background-color: #74c365;
  border-top: 2px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gainsboro;
  border-left: 2px solid gainsboro;
  padding: 10px;
  margin: 10px;
}

.post-div{
  border-radius: 15px;
}

/* Comments */
.comment-block {
  display: flex;
  padding: 10px;
  align-items: center;
}

.commentTextBox, input, .create-post-form textarea {
  border-radius: 15px;
  padding: 5px;
}

.comment {
  padding: 10px;
  text-align: left;
  background-color: #3cb371;
  border-radius: 15px;
  margin-left: 10px;
}

.comment-delete-button {
  background-color: darkred;
  font-weight: 900;
  padding: 2px 5px;
  margin: 0 0 0 10px;
}

.comment-delete-button:hover{
  background-color: rgb(217, 45, 45);
  font-weight: 900;
  padding: 2px 5px;
  margin: 0 0 0 10px;
}

/* Home */
.home-divider {
  padding: 10px;
  font-weight: 700;
}

::placeholder {
  color: black;
  opacity: 1;
}

.userProfile {
  display: grid;
  grid-template-rows: 1fr, 1fr, 1fr ,1fr, 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
}

.user {
  grid-column: 2 /span 2;
}

#profile-header {
  border-bottom: 3px solid darkslategray;
}

.text {
  color:rgb(57, 164, 135);
  font-weight: lighter;
}

.delete-user-button {
  background-color:rgb(217, 45, 45);
  font-weight: 900;
  padding: 7px 7px;
  margin: 0 0 15px 0;
  opacity: 80%;
  margin-top: 50px;
}

.delete-user-button:hover{
  background-color:rgb(217, 45, 45);
  font-weight: 900;
  padding: 7px 7px;
  margin: 0 0 15px 0;
  opacity: 100%;
  border-top: 2px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gainsboro;
  border-left: 2px solid gainsboro;
  margin-top: 50px;
}

