.App {
  text-align: center;
}

html {
  background-color: dimgray;
  color: white;
}
button {
cursor: pointer;
}

.form-format{
  display: inline-grid;
}


/* Nav Bar */
nav {
  display: flex;
  background-color: darkslategray;
  font-weight: 700;
  padding: 0 10px;
  position: sticky;
  top: 0;
}

.nav-link {
  padding: 20px;
}

.nav-link:hover {
  background-color:rgb(35, 52, 52);
  cursor: pointer;
}

.nav-title {
  font-size: 30px;
  font-weight: 800;
  padding: 10px 20px;
}

.right-align {
  margin-left: auto;
}

/* Center */
.create-post, .register, .login {
  width: 40%;
  margin: auto;
  padding: 20px 0;
}

/* Form Backgrounds */
.create-post-form, .register-form, .login-form {
  background-color: rgb(42, 96, 96);
  padding: 10px;
}

/* Form Titles */
.create-post-title, .register-title, .login-title {
  background-color: darkslategray;
  font-size: 40px;
  font-weight: 700;
  padding: 10px;
}

/* Links and Buttons */
a, button {
  all: unset;
  cursor: pointer;
}

/* Buttons */
/* Create/Add Button */
.create-post-button, .register-button, .login-button {
  background-color: darkslategray;
  padding: 10px;
}